<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aoba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Aoba.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>mKfSyjsnNXkr4Lu5OzTYJ49ib</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>7MTHPAciLB1mSByOohsMtl1nI1RAIevZrSgZc7PR2o0EiriEPy</value>
            </setting>
            <setting name="VideoType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BurstInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Notify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedDesktop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>240</value>
            </setting>
        </Aoba.Properties.Settings>
    </userSettings>
</configuration>