<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTweet" version="0.7.1.345" targetFramework="net452" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Screna" version="0.5.1" targetFramework="net452" />
  <package id="Screna.NAudio" version="0.3.0" targetFramework="net452" />
  <package id="Screna.SharpAvi" version="0.3.1" targetFramework="net452" />
  <package id="SharpAvi" version="2.1.0" targetFramework="net452" />
</packages>